{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

<div style="text-align : center; max-width : 500px; margin: 4rem auto">
    <div>
        <h4>Login</h4>
    </div>
    <div>
        <form action="" method="post">
            {% csrf_token %}
            <!--            {{ form }}      -->
            {% bootstrap_form form %}
            <input type="submit" class="btn btn-dark rounded-pill  col-12 mt-3">
            <!--            col-12 는 부모의 너비의 100% , col-6은 부모의 너비의 50%-->
        </form>
    </div>
</div>

{% endblock %}